@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg2.jpg);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
    padding: 0;
}

nav img {
    color: rgb(229, 9, 20);
    width: 150px;
    position: relative;
    z-index: 1;
    margin-top: 35px;
}

nav button {
    position: relative;
    z-index: 10;
    margin-top: 30px;
}

.text {
    height: calc(100% - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    font-family: "Noto Sans", sen-serif;
    gap: 20px;
}

.text> :first-child {
    font-weight: 850;
    font-size: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small {
    font-weight: 620;
    font-size: 19px;
    gap: 20px;
}

.short {
    font-weight: 500;
    font-size: 16px;
}

.line {
    height: 5px;
    background-color: gray;
}

.lang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(185, 181, 181, 0.7);
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    cursor: pointer;
    gap: 8px;
    border-radius: 0.25rem;
}

.sign {
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 17px;
    border: none;
    padding: 5px 15px;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
    background-color: rgb(229, 9, 20);
    padding: 13px 36px;
    border: none;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    gap: 10px;
}

.hehe {
    display: flex;
    align-items: center;
    gap: 13px;
}

.hehe_input {
    text-align: left;
    direction: ltr;
    padding: 17px 16px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(185, 181, 181, 0.7);
    background: transparent;
    color: white;
}

.hehe_input::placeholder {
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.two-btn {
    display: flex;
    gap: 10px;
}

.trending h4 {
    color: white;
    font-family: "Noto Sans", sen-serif;
    font-size: 25px;
    height: 40px;
    padding: 40px 60px;
}

/* .scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
}


.cards{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 3rem;
    margin-left: 8%;
} */

.scroller {
    display: flex;
    /* horizontal layout */
    overflow-x: hidden;
    /* hide scrollbar */
    scroll-behavior: smooth;
    /* smooth scrolling */
    position: relative;
    /* for arrows */
}

.cards {
    flex: 0 0 100%;
    /* each group takes full viewport width */
    display: flex;
    gap: 2rem;
    padding-left: 10%;
    /* keep your left spacing */
    scroll-snap-align: start;
}



.media-element {
    border-radius: 0.25rem;
    overflow: hidden;
}

.media-element>img {
    width: 100%;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
    border-radius: 1.25rem;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 3%;
    margin-top: 3%;
    margin-bottom: 10%;
    color: white;
    background-color: #FFFFFF1A;
    border-radius: 0.75rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 3%;
    margin-top: 3%;
    margin-bottom: 10%;
    color: white;
    background-color: #FFFFFF1A;
    border-radius: 0.75rem;
}

.media-element>a img {
    transition: transform 0.3s ease;
}

.media-element>a:hover img {
    transform: scale(1.05);
}

.reasons h4 {
    color: white;
    font-family: "Noto Sans", sen-serif;
    font-size: 25px;
    height: 40px;
    padding: 40px 60px;
}

.reasons-cards {
    /* display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 20px;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Creates 4 columns of equal width */
    grid-auto-rows: auto;
    /* Or set a fixed height: grid-auto-rows: 250px; */
    gap: 20px;
    /* Add space between grid items */
    margin-left: 5%;
    margin-right: 5%;
}

.enjoy,
.download,
.watch,
.create {
    border-radius: 1.25rem;
    background: #171717;
    background: linear-gradient(134deg, rgba(23, 23, 23, 1) 0%, rgba(5, 5, 41, 1) 53%, rgba(143, 13, 50, 1) 94%);
}

.enjoy h5,
.download h5,
.watch h5,
.create h5 {
    color: white;
    font-family: "Noto Sans", sen-serif;
    font-size: 25px;
    height: 50px;
    padding: 40px 60px;
}

.enjoy p,
.download p,
.watch p,
.create p {
    color: grey;
    font-family: "Noto Sans", sen-serif;
    font-size: 15px;
    height: 40px;
    padding: 40px 60px;
}

.enjoy > svg{
    margin-top: 10%;
}

.download > svg{
    margin-top: 8%;
}

.watch > svg{
    margin-top: 8.5%;
}

.create > svg{
    margin-top: 5%;
}

.questions h4{
    background-color: black;
    color: white;
    font-family: "Noto Sans", sen-serif;
    font-size: 25px;
    height: 10px;
    padding: 40px 60px;
    margin-top: 30px;
}

.faqbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    font-family: "Noto Sans", sen-serif;
    max-width: 80vw;
    cursor: pointer;
    margin: auto;
    color: white;
    font-size: 1.5rem;
}

.faqbox span{
    margin-top: 10px;
    padding-left: 20px;
    background-color: rgb(47, 47, 47);
    height: 90px;
    display: flex;
    align-items: center;
    font-weight: 470;
}

.faqbox span:hover{
    background-color: rgb(84, 82, 82);
}

.footer{
    height: 100%;
    color: white;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18px;
    color: white;
    margin-top: 3%;
    margin-left: 10%
}

.div5 {
    grid-row-start: 2;
}

.div6 {
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 2;
}

.div8 {
    grid-row-start: 2;
}

.div9 {
    grid-row-start: 3;
}

.div10 {
    grid-row-start: 3;
}

.div11 {
    grid-row-start: 3;
}
.div12 {
    grid-row-start: 3;
}
.div13 {
    grid-row-start: 4;
}
.div14 {
    grid-row-start: 4;
}
.div15 {
    grid-row-start: 4;
}

.footer-items>a{
    color: #FFFFFFB3;
    font-family: "Noto Sans", sen-serif;
    font-size: 14px;
}